<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add book</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
			<table>
			<tr>
		  	<td><label for="title">Title</label>
			<input type="text" id="title" th:field="*{title}" /></td>
			<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</td>
		  	</tr>
		  	<tr>
		  	<td><label for="author">Author</label>
			<input type="text" id="author" th:field="*{author}" /></td>
			<td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</td>
		  	</tr>
		  	<tr>
		  	<td><label for="publicationYear">Publication year</label>
			<input type="text" id= "publicationYear" th:field="*{publicationYear}" /></td>
			<td th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Error</td>
			</tr>
		  	<tr>
			<td><label for="isbn">ISBN</label>
			<input type="text" id="isbn" th:field="*{isbn}" /></td>
			<td th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</td>
			</tr>
		  	<tr>
			<td><label for="price">Price</label>
			<input type="text" id="price" th:field="*{price}" /></td>
			</tr>
		  	<tr>
			<td><label for="catlist">Category</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
    		</select></td>
    		</tr>
			</table>
			<input type="submit" value="Save"></input>
		</form>
		<br />
		<a href="/booklist">Back to the booklist</a>
	</div>
</body>
</html>